{% extends "cafeteria/base.html" %}
{% block content %}

<div class="container mt-4">

    <h2 class="text-center text-dark fw-bold mb-4">Menú Digital</h2>

    {% if productos %}
        <div class="row justify-content-center">

            {% for p in productos %}
            <div class="col-md-4 col-lg-3 mb-4">

                <div class="card card-custom p-3 text-center">

                    <h5 class="fw-bold mb-2">{{ p.nombre }}</h5>

                    <p class="text-muted mb-1">
                        <small>Categoría: {{ p.categoria.nombre }}</small>
                    </p>

                    <p class="fw-bold text-success">
                        ${{ p.precio }}
                    </p>

                    <a class="btn btn-primary btn-sm mt-2"
                       href="{% url 'crear_pedido_autoservicio' %}?producto={{ p.id }}">
                        Seleccionar
                    </a>

                </div>
            </div>
            {% endfor %}

        </div>

    {% else %}

        <div class="alert alert-warning text-center mt-4">
            No hay productos disponibles.
        </div>

    {% endif %}

</div>

{% endblock %}
